* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    padding: 16px 0;
    background-color: #eee;
    align-items: baseline;
}

footer {
    text-align: center;
    margin: 16px 0 0;
    padding: 16px 0;
    background-color: #eee;
}

label {
    display: block;
    margin: 0 0 8px;
}

h1 {
    font-size: 200%;
    margin: 0 0 16px;
}

h2 {
    font-size: 150%;
    margin: 16px 0 16px;
}

p {
    margin: 0 0 8px;
}

.full-width {
    width: 100%;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.columns {
    --margin: 32px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--margin);
    padding-left: var(--margin);
    padding-right: var(--margin);
}

.column {
}

.column-25 {
    width: 25%;
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}

.column-grow {
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 1;
}

.checkerboard-background {
    --color-1: #eee;
    --color-2: #ddd;
    --cell-size-x: 8px;
    --cell-size-y: 8px;
    background-image: conic-gradient(var(--color-1) 25%, var(--color-2) 25%, var(--color-2) 50%, var(--color-1) 50%, var(--color-1) 75%, var(--color-2) 75%);
    background-size: calc(var(--cell-size-x) * 2) calc(var(--cell-size-y) * 2);
}

.grey-background {
    background-color: #eee;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.no-wrap {
    text-wrap: nowrap;
}
